*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #3066f6;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.container{
    width: 95vw;
    background-color: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
    min-height: 65vh;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0, 0.2);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.success{
    color: #44b267;
}
.fail{
    color: #e81c4e;
}

.result{
    display: none;
}
.stats{
    text-align: right;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.stats span{
    font-weight: 600;
}

textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1383af;
    margin-bottom: 1rem;
}

#quote{
    text-align: justify;
    margin: 1rem;
}

button{
    float: right;
    background-color: #1383af;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.result{
    margin-top: 1rem;
}

.result h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
    justify-content: space-around;
    margin: 1rem;
}

.wrapper span{
    font-weight: 600;
}

#restart{
    float:none;
}
#nextTest{
    float:none;
}